/* profile_main_container css begins */

.profile_main_container {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .profile_main_container .top {
    height: 6rem;
    width: 100%;
  }
  
  .profile_main_container .content {
    flex-shrink: 0;
  
    display: flex;
    gap: 3rem;

    margin-bottom: 5rem;

  }

  .profile_title{
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    width: 700px; /*just for time being*/
}

  .profile_image{
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 220px;
    border: 3px solid rgb(18, 171, 253, 0.3);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile_image .dp{
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .profile_image .dp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .profile_image .username{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);

    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 3px solid rgb(18, 171, 253, 0.3);
    font-weight: 600;
    font-style: italic;
    color: var(--primary);
    background: var(--bg);
  }

  .profile_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .profile_details .name{
    padding: 0.5rem 2rem;
    width: fit-content;
    border-radius: 10px;
    background: rgb(18, 171, 253);
    color: var(--bg);
    font-size: 1.8rem;
    font-weight: 700;
  }
  .profile_details .other{
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  .profile_details .other .info{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .profile_details .other .info .key{
    opacity: 0.4;
  }
  .profile_details .other .info .value{
    font-weight: 600;
  }
  .profile_details .about{
    font-weight: 500;
    opacity: 0.8;
    /* width: 700px; */
    text-align: justify;
  }

  .profile_page_xp{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile_page_xp .user_xp{
    position: relative;
    width: 250px;
    height: 80px;
    border: 3px solid rgb(18, 171, 253, 0.3);
    border-radius: 10px;
    font-family: "Feather";
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-10px);
  }

  .profile_page_xp .user_xp p{
    transform: translateY(-10px);
  }

  .profile_page_xp .user_xp span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    position: absolute;
    bottom: 0;
    transform: translateY(50%);

    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 3px solid rgb(18, 171, 253, 0.3);
    font-weight: 600;
    font-style: italic;
    color: var(--primary);
    background: var(--bg);
  }

  .make_change_btn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;

  /* margin-left: auto; */

  z-index: 1;
}
.make_change_btn_text {
    background: var(--primary);
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 8px;

  font-size: 1.3rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all 0.2s ease;
}

.make_change_btn_shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: var(--primary);
  opacity: 0.5;
  z-index: -1;

  transform: translateY(5px);
}

.make_change_btn_text:hover {
  transform: translateY(5px);
}

  
  
  @media (max-width: 700px) {
  
    .profile_main_container,
    .profile_right_container {
      display: none;
    }
  }