.common_btn{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 160px;
  }
  .common_btn_text{
    background: var(--primary);
    color: #fff;
    height: 50px;
    width: 160px;
    border-radius: 8px;

    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    
    transition: all 0.2s ease;
    
  }
  
  .common_btn_shadow{
    position: absolute;
    height: 50px;
    width: 160px;
    border-radius: 8px;
    background: #292960;
    z-index:-1;
    
    transform: translateY(5px);
  }
  
  .common_btn_text:hover{
    transform: translateY(5px);
  }