.leaderboard_content{
    --first: #12ABFD;
    --second: #0C7BB6;
    --third: #144D6C;
    --remain: #1F3947;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2rem !important;

    /* width: 100%; */
    padding: 0 3rem;
}
.leaderboard_container_title{
    font-size: 2.2rem;
    font-weight: 700;
    width: 100%;
}
.leaderboard_container {
    flex-shrink: 0;
    margin-bottom: 0rem;
    /*   background: #000; */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;

    overflow-y: scroll;
}

.leaderboard_main_card {
    --pos-size: 2rem;
    --text-size: 1.5rem;
    --img-size: 50px;
    /* background-color: #07263F; */
    color: #fff;
    font-family: "Feather";
    border-radius: 15px;
    width: 100%;
    height: 90px;
    overflow: hidden;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 2rem;
}

.leaderboard_main_card_toppers {
    --pos-size: 2.5rem;
    --text-size: 1.7rem;
    --img-size: 60px;
    height: 120px;
}

.leaderboard_main_card .pos{
    font-size: var(--pos-size);
}
.leaderboard_main_card .name{
    width: 300px;
    /* background: #000; */
    font-size: var(--text-size);
}
.leaderboard_main_card .xp{
    text-align: right;
    /* background: red; */
    width: 150px;
    font-size: var(--text-size);
}
.leaderboard_main_card .dp{
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.leaderboard_main_card .dp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.leaderboard_main_card .level{
    flex-shrink: 0;
    /* height: 50px; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.leaderboard_main_card .level img{
    object-fit: cover;
    width: 80%;
}

.leaderboard_right_card {
    width: 350px;
    height: 335px;
  
    display: flex;
    flex-direction: column;
  
    border: 3px solid rgba(102, 102, 102, 0.3);
    border-radius: 20px;
  
    overflow: hidden;
  }

