@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Feather';
  src: url('/src/assets/font/feather_bold.ttf') format('truetype');
}

body {
  --bg: #141823;
  --primary: #2B70C9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
  color: #fff;
}
